<h2>All books</h2>
<% if books.any? %>
  <div id="books">
    <% books.each do |book| %>
      <div class="book">
        <h2><%= book.title %></h2>
        <%= book.isbn %>
      </div>
    <% end %>
  </div>
<% else %>
  There are no books yet.
<% end %>
